* {    box-sizing: border-box;}
html {
    height: 100%;
    font-size: 14px !important;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, button {
    text-decoration: none !important;
}


//PC + 모바일 건자재 데시보드
.dashboard {
  margin: 0 8rem 0 10rem;
  padding: 0  0px;
  //background-color: #4caf50;
  height: calc(100vh - 120px);
  display: grid;
  grid-template-rows: auto auto 1fr;
   min-height: 0;
}
.topboard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 8px 0 ;
  color: #888;
}
.summary {
  display: grid;
  min-height: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .item {
    background: #fff;
    border-radius: 8px;
    border:1px solid #ddd !important;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    }

    .item h3 {
    font-size: 14px;
    color: #333;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
    }
    .item .value {
    font-size: 38px;
    line-height: 28px;
    font-weight: 700;
    }
    .item .value span {
    font-size: 16px;
    margin-left: 4px;
    }
     .item .tit {
    display: block;
    font-size: 14px;
    color: #6D7077;
    }
    .item .plus {
    display: block;
    font-size: 13px;
    color: #335391;
    span {
      color: #C2CACD;
      display: inline-block;
      }
    }  
    .item .minus {
    display: block;
    font-size: 13px;
    color: #D06981;
    span {
      color: #C2CACD;
      display: inline-block;
      }
    }
    .item ul {
    padding-left: 16px;
    font-size: 14px;
    }
}


.doughnut-wrap{
  display: grid !important;
  grid-template-columns: 100px auto !important;
  gap: 10px !important;
}

.sales-half-donut {
  position: relative;
  width: 80px;
  margin: 0 auto;
}

.sales-half-donut canvas {
  width: 100% !important;
  height: 100% !important;
}

.sales-half-donut__center {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  text-align: center;
}

.sales-half-donut__center strong {
  font-size: 20px;
  font-weight: 700;
}

.sales-donut {
  position: relative;
  width: 120px;
  height: 120px; 
}

.sales-donut canvas {
  width: 100% !important;
  height: 100% !important;
}

.sales-donut__center {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}

.count {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.count-item {
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.count-item .label {
  display: flex;
  font-size: 14px;
  color: #666;
  align-items: center;
  justify-content: center;  
  white-space: nowrap; 
}
.count-item .num {
  font-size: 22px;
  font-weight: 700;
  color: #222;
}

.count-item .num1 {
  font-size: 22px;
  font-weight: 700;
  color: #888;
}
.count-item .num2 {
  font-size: 22px;
  font-weight: 700;
  color: #d47b7b;
}
.count-item .num3 {
  font-size: 22px;
  font-weight: 700;
  color: #3457cc;
}


/* 여신 현황 */
.credit {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border:1px solid #ddd !important;  
  background: #fff;
  border-radius: 8px;
  align-items: center;
  min-height: 80px;
  gap: 16px;
  padding: 0 20px;
  margin-top: 16px;

  .credit-header{
    display: flex;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 80px 1fr;
    h3 {
      font-size: 1.25rem !important;
      color: #333;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px !important;
      }
    button{
      text-align: left;
    }
  }
  .item {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    }
    
    .item span {
    font-size: 16px;
    color: #6D7077;
    line-height: 20px;
    white-space: nowrap;
    }
    .item strong {
    font-size: 22px;
    margin-right:8px;
    color:#333;
    align-items: end;
    }
    .item span.tit {
    font-size: 16px;
    align-items: end;
    line-height: 20px;
    color: #777;
    //margin-top:-3px !important;
    }
    .item.highlight strong {
    color: #D06981;
    }
}

.main-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.notice {
  flex: 1;       
  display: grid;
  min-height: 0;
  grid-template-columns: 7fr 3fr;
   grid-template-rows:  auto 1fr; 
  gap: 16px;
  margin-top: 16px;

    .item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;

  display: flex;

    justify-content: space-between;
    align-items: center;
  }

  
  .notice-full {
    grid-column: 2;    
    grid-row: 1 / -1;   
  }
}

.graph-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  
  height: 100%;

  display: flex;
  flex-direction: column;
  min-height: 0;    
}


.graph-header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.graph-chart {
   flex: 1; 
   min-height: 0;
}
.card2 {
  min-width: 0;
}

// 차트 높이 재정의 
.p-chart{
  height: 100% !important;
}

//데시보드 전용 달력 재정의
.dashboard .p-datepicker {
    border: 0px solid red !important;
}
.dashboard .p-datepicker table {
    text-align: center !important;
}
.dashboard  .p-datepicker .p-datepicker-header {
    padding: 0 0.25rem !important;
    border-bottom: 0px solid red !important;
}
.dashboard .dashboard-calendar .p-calendar {
  width: 100%;
}

.dashboard .dashboard-calendar .p-datepicker {
  border: none;
  padding: 0;
}
.dashboard .p-datepicker table td > span:hover {
  color: #1d4ed8;
  background-color: transparent !important;
}

.dashboard .p-datepicker table td.p-datepicker-today > span {
    background: transparent !important;
    color: #181d24;
    font-weight: 600 !important;
    border-color: transparent;
}


.dashboard .p-datepicker table td > span.p-highlight {
   display: inline-flex !important; 
    color: #fff !important;
    background: #0e7490 !important;
    width:  20px !important;
    height: 20px !important;
}


.dashboard .dashboard-calendar .p-datepicker table td > span {
  height: 16px;
  font-size: 12px;
}


.dashboard .dashboard-calendar  .p-datepicker
  table  tbody  td:first-child  > span {
  color: #e53935; 
}


.dashboard .dashboard-calendar  .p-datepicker
  table  tbody  td:last-child  > span {
  color: #1e88e5; 
}

//공지사항 뉴표시
.notice-new {
  font-size: 8px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ef4444; 
  padding: 2px 6px;
  border-radius: 40px;
  flex-shrink: 0;
  display: inline-block;
}


.cal-summary {
  margin-bottom: 10px;
  font-size: 13px; 
  display: grid;
  grid-template-columns: 64px 20% auto 15%;
  align-items: center;
  column-gap: 8px;
  white-space: nowrap; 

}
.cal-summary > * {
  min-width: 0;                
}

.cal-list {
  max-height: calc(46px * 3);
  overflow-y: auto;
}


.notice-panel {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr; 
  gap: 12px;
}

.notice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notice-section h4 {
  font-size: 1.25rem !important;
  display: flex;
  font-weight: 600 !important;
  align-items: center;
  margin-bottom:0px !important;
  justify-content: center;
  color: #333;
}

.notice-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notice-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 6px 0;
}

.notice-section li:last-child {
  border-bottom: none;
}

.notice-section .nottitle {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-section .date {
  font-size: 13px;
  color: #999;
  margin-left: 8px;
}




//테블릿 - 가로
@media (max-width: 1366px) {
  .dashboard {
    margin: 0 0px 0 2rem;
  }
}


//테블릿 - 세로
@media (max-width: 1320px) {
  .dashboard {
    margin: 0 0px 0 2rem;
  }
}


//테블릿 - 세로
@media (max-width: 1024px) {
  .count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .credit {
    gap: 0px;
  }
}





//모바일
@media (max-width: 768px) {
  .chart-wrapper {
    min-height: 120px !important;
  }
  .dashboard {
    margin: 0 0px .5rem 0;
    height: 100%;
  } 
  .summary {
    grid-template-columns: 1fr;
  }
  .credit {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 10px
  }
  .credit .item {
    padding: 0px;
 }
.count {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
}

  .credit-header{
    display: flex;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    h3 {
      font-size: 1.25rem !important;
      color: #333;
      align-items: center;
      justify-content: center;
      margin-bottom: 0px !important;
      }
    button{
      text-align: right !important;
      padding: 0px !important;
    }
  }


.notice {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.notice-section .nottitle {
flex: 1;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 180px;
}
.notice .notice-full {
  grid-column: auto;
  grid-row: auto;
}


.graph-chart {
 min-height: 150px !important;
}


}




